.rf_gallery_8 .gallery_title{
	width: 100%;
	height: auto;
}

.rf_gallery_8 .gallery_title .title{
	padding: 0px;
}

.rf_gallery_8 .img_wrapper{
	padding: 10px;
}

.rf_gallery_8 .img_wrapper .image{
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 100%;
	height: auto;
}

.rf_gallery_8 .img_wrapper .image img{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display:block;
	object-fit: cover;
	border: 1px transparent;
	border-bottom-left-radius: 28px;
	border-top-right-radius: 28px;
}
